   <!-- Banner Section Start -->
<div class="rs-banner home-banner relative">
    <div class="rev_slider_wrapper">
        <div id="rev_slider_1" class="rev_slider" data-version="5.4.5">
            <!-- BEGIN SLIDES LIST -->
            <ul>
                <!-- MINIMUM SLIDE STRUCTURE -->
                <li data-transition="fade">
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img class="rev-slidebg " src="assets/images/banner/banner_bg.jpg"
                         alt=""
                         data-bgposition="right"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">

                    <!-- Title -->
                    <h1 class="tp-caption tp-resizeme banner-title"
                        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                        data-y="['300','280','230','200']" data-voffset="['0','0','0','0']"
                        data-width="['auto']"
                        data-height="['auto']"
                        data-type="text"
                        data-responsive_offset="on"
                        data-fontsize="['60','60','50','40']"
                        data-lineheight="['70','70','60','40']"
                        data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"x:-100px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[20,20,20,20]">
                        Hire <br> a Bot!
                    </h1>
                    <div class="tp-caption tp-resizeme banner-desc"
                         data-y="['center','center','center','310']" data-voffset="75"
                         data-width="['480','480','480','420']"
                         data-height="['auto']"
                         data-type="text"
                         data-whitespace="normal"
                         data-responsive_offset="on"
                         data-fontsize="['18','14','14','14']"
                         data-lineheight="['30','22','22','22']"
                         data-frames='[{"delay":300,"speed":1000,"frame":"0","from":"x:-100px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[20,20,20,20]">
                        Our mission is to help workers by providing AI companions to enhance productivity.
                    </div>
                    <div class="tp-caption tp-resizeme button-part"
                         data-x="left" data-hoffset="0"
                         data-y="center" data-voffset="190"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"x:-100px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[20,20,20,20]">
                        <a class="readon sl-btn" href="#">Meet "Guess the Famous Bot"</a>
                    </div>

                    <!-- Footer -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="right" data-hoffset="-90"
                         data-y="center" data-voffset="248"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img src="assets/images/banner/footer.png" alt="">
                    </div>
                    <!-- Ring -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="right" data-hoffset="8"
                         data-y="center" data-voffset="-80"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img class="spine" src="assets/images/banner/ring1.png" alt="">
                    </div>
                    <!-- Spine Short -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="right" data-hoffset="-20"
                         data-y="center" data-voffset="-90"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img class="spine3" src="assets/images/banner/test.png" alt="">
                    </div>
                    <!-- Ring Small -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="right" data-hoffset="210"
                         data-y="center" data-voffset="35"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img class="spine2" src="assets/images/banner/ring2.png" alt="">
                    </div>
                    <!-- Robot Body -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="['right','right','right','right']" data-hoffset="['330','330','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['28','828','828','828']"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-whitespace="normal"
                         data-responsive_offset="on"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img src="assets/images/banner/ly2.png" alt="">
                    </div>
                    <!-- Robot Head -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="['right','right','right','right']" data-hoffset="['460','460','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-182','828','828','828']"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-whitespace="normal"
                         data-responsive_offset="on"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img class="head-move" src="assets/images/banner/ly1.png" alt="">
                    </div>
                    <!-- Women With Table -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="['right','right','right','right']" data-hoffset="['-60','-60','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['18','18','828','828']"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img src="assets/images/banner/ly3.png" alt="">
                    </div>
                    <!-- Light PC Shape -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="right" data-hoffset="23"
                         data-y="center" data-voffset="-90"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <div class="shape flash"></div>
                    </div>
                    <!-- Laptop -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="['right','right','right','right']" data-hoffset="['105','105','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','828','828']"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":300,"frame":"0","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img src="assets/images/banner/laptop.png" alt="">
                    </div>
                    <!-- Tree -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="['right','right','right','right']" data-hoffset="['488','488','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['179','828','828','828']"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img src="assets/images/banner/tree.png" alt="">
                    </div>
                    <!-- Check -->
                    <div class="tp-caption tp-resizeme image-part"
                         data-x="right" data-hoffset="309"
                         data-y="center" data-voffset="-272"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-type="image"
                         data-frames='[{"delay":0,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <img class="scale-anim" src="assets/images/banner/ly5.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner Section End -->