      <!-- Features Section Start -->
<div class="rs-features bg1 pt-126 md-pt-71 md-pb-75">
    <div class="container relative">
        <div class="circle-dot"></div>
        <div class="row">
            <div class="col-xl-5 pr-0 relative hide-over md-mb-30">
                <div class="sec-title pl-45">
                    <h2 class="title">Get to know and hire our bots.  Coming soon.</h2>
                </div>
                <div class="feature-img">
                    <div class="circle-ring"></div>
                    <div class="circle-ring right"></div>
                    <img class="main-image" src="assets/images/feature/main.png" alt="">
                    <div class="shape">
                        <img src="assets/images/feature/shape.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="offset-xl-1"></div>
            <div class="col-xl-6 pl-0 pb-134 md-pb-0">
                <div class="row">
                    <div class="icon-part mb-29">
                        <img src="assets/images/bot/all-bots.png" alt="">
                    </div>

@*                    <div class="col-md-6 pt-18 pl-0">
                        <div class="feature-wrap mb-57">
                            <div class="icon-part mb-29">
                                <img src="assets/images/bot/all-bots.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Coder</h3>
                                <div class="desc">I can help with your coding needs.</div>
                            </div>
                        </div>
                        <div class="feature-wrap sm-mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Investor Information</h3>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur sedo adipiscing elit sed.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-18 pl-22">
                        <div class="feature-wrap mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Vision & Technology</h3>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur sedo adipiscing elit sed.</div>
                            </div>
                        </div>
                        <div class="feature-wrap">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/4.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Developer Community</h3>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur sedo adipiscing elit sed.</div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="circle-dot right"></div>
    </div>
</div>
<!-- Features Section End -->
