     <!-- Features Section Start -->
<div class="rs-features bg1 pt-126 md-pt-71 md-pb-75">


    <div class="container relative">
        <div class="circle-dot"></div>
        <nav class="rs-menu">
            <ul class="nav-menu">
                <!-- Home -->
                                                        <li class="current-menu-item current_page_item"> <a href="FamousBot">Play "Guess the Famous Bot"</a></li>
                <li class="current-menu-item current_page_item"> <a href="Veteran">Veteran Assistant</a></li>
                                                        <!-- End Home -->

            </ul> <!-- //.nav-menu -->
        </nav>
        <div class="row">
            <div class="col-xl-5 pr-0 relative hide-over md-mb-30">
                <div class="sec-title pl-45">
                    <h2 class="title">Staffing Agency for AI Bots.  Hire a Bot Today!</h2>
                </div>
                <div class="feature-img">
                    <div class="circle-ring"></div>
                    <div class="circle-ring right"></div>
                    <img class="main-image" src="assets/images/feature/main.png" alt="">
                    <div class="shape">
                        <img src="assets/images/feature/shape.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="offset-xl-1"></div>
            <div class="col-xl-6 pl-0 pb-134 md-pb-0">
                <div class="row">
                    <div class="col-md-6 pt-18 pl-0">
                        <div class="feature-wrap mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Safety</h3>
                                <div class="desc">It's your data, not ours.  You choose when to remove any proprietary training data.</div>
                            </div>
                        </div>
                        <div class="feature-wrap sm-mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Flexible Pricing</h3>
                                <div class="desc">Only pay when you use the bot by simply turning it on or off.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-18 pl-22">
                        <div class="feature-wrap mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Tailored for You</h3>
                                <div class="desc">The bots will learn from you and help you with mundane tasks.</div>
                            </div>
                        </div>
                        <div class="feature-wrap">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/4.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Customize</h3>
                                <div class="desc">Customize the bot to fit your team culture.  Give it a name, birthdate, gender, etc.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-dot right"></div>
    </div>
</div>
<!-- Features Section End -->

<!-- Features Section Start -->
<div class="rs-features bg1 pt-126 md-pt-71 md-pb-75">
    <div class="container relative">
        <div class="circle-dot"></div>
        <div class="row">
            <div class="col-xl-5 pr-0 relative hide-over md-mb-30">
                <div class="sec-title pl-45">
                    <h2 class="title">Get to know and hire our bots.  Coming soon.</h2>
                </div>
@*                <div class="feature-img">
                    <div class="circle-ring"></div>
                    <div class="circle-ring right"></div>
                    <img class="main-image" src="assets/images/feature/main.png" alt="">
                    <div class="shape">
                        <img src="assets/images/feature/shape.svg" alt="">
                    </div>
                </div>
*@            </div>
            <div class="offset-xl-1"></div>
            <div class="col-xl-6 pl-0 pb-134 md-pb-0">
                <div class="row">
                    <div class="icon-part mb-29">
                        <img src="assets/images/bot/all-bots.png" alt="">
                    </div>

@*                    <div class="col-md-6 pt-18 pl-0">
                        <div class="feature-wrap mb-57">
                            <div class="icon-part mb-29">
                                <img src="assets/images/bot/all-bots.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Coder</h3>
                                <div class="desc">I can help with your coding needs.</div>
                            </div>
                        </div>
                        <div class="feature-wrap sm-mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Investor Information</h3>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur sedo adipiscing elit sed.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-18 pl-22">
                        <div class="feature-wrap mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Vision & Technology</h3>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur sedo adipiscing elit sed.</div>
                            </div>
                        </div>
                        <div class="feature-wrap">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/4.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Developer Community</h3>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur sedo adipiscing elit sed.</div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="circle-dot right"></div>
    </div>
</div>
<!-- Features Section End -->
<!-- About Section Start -->
<div class="rs-about bg3 bg-fixed pt-170 pb-178 md-pt-110">
    <div class="container">
        <div class="row y-middle">
            <div class="col-xl-7 lg-mb-60">
                <div class="social-wrap">
                    <div class="center-icon">
                        <i class="flaticon-central"></i>
                    </div>
                   
                </div>
            </div>
            <div class="col-xl-5">
                <div class="sec-title pr-50 mb-44">
                    <h2 class="title mb-23">Our Mission and Goals</h2>
                    <div class="desc">To help workers by providing AI companions to enhance productivity.</div>
                </div>
                <ul class="listing-style">
                    <li>Our bots will be kind</li>
                    <li>Our bots will listen</li>
                    <li>Our bots will be available when you need them</li>
                    <li>Our bots will try to make you laugh once in a while</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
