<!-- Features Section Start -->
<div class="rs-features bg1 pt-126 md-pt-71 md-pb-75">

 
    <div class="container relative">
        <div class="circle-dot"></div>
  
     
        <div class="row">
            <div class="col-xl-5 pr-0 relative hide-over md-mb-30">
                <div class="sec-title pl-45">
                    <h2 class="title">Artificial Intelligence (AI) for Wall Street Intelligence.</h2>
                </div>
                <div class="feature-img">
                    <div class="circle-ring"></div>
                    <div class="circle-ring right"></div>
                    <img class="main-image" src="assets/images/feature/main.png" alt="">
                    <div class="shape">
                        <img src="assets/images/feature/shape.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="offset-xl-1"></div>
            <div class="col-xl-6 pl-0 pb-134 md-pb-0">
                <a href="Pal">Meet "Bert", Your Pal</a>
                <br />
                <div class="row">
                    <div class="col-md-6 pt-18 pl-0">
                        <div class="feature-wrap mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Analytical Skills</h3>
                                <div class="desc">Our Wall Street AI analyst have exceptional analytical skills to interpret a vast array of numerical data and financial reports.</div>
                            </div>
                        </div>
                        <div class="feature-wrap sm-mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Attention to Detail</h3>
                                <div class="desc">The financial world is highly sensitive to even the smallest variations in data or market conditions. Our AI analyst has an eye for detail to catch these nuances.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-18 pl-22">
                        <div class="feature-wrap mb-57">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Communication Skills</h3>
                                <div class="desc">Once our AI analyst has done their research and drawn conclusions, they will effectively communicate these findings to you, your clients, team members, or upper management.</div>
                            </div>
                        </div>
                        <div class="feature-wrap">
                            <div class="icon-part mb-29">
                                <div class="circle-anim"></div>
                                <img src="assets/images/feature/icon/4.png" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title mb-21">Ethical Integrity</h3>
                                <div class="desc">Due to the sensitive nature of the job, which often involves access to confidential financial information, our AI analyst will be highly ethical and trustworthy. Regulatory compliance and ethical considerations are integral to its role.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-dot right"></div>
    </div>
</div>
<!-- Features Section End -->

