@inherits LayoutComponentBase
@using CyberbianSite.Client.Authentication
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<!--Full width header Start-->
<div id="rs-head" class="full-width-header">
    <!--Header Start-->
    <header id="rs-header" class="rs-header transparent-header">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo-area">
                            <a class="logo" href="/">Cyberbian</a>
                        </div>
                    </div>
                    <div class="col-lg-10 text-right">
                        <div class="rs-menu-area">
                            <div class="main-menu">
                                <div class="mobile-menu">
                                    <a class="rs-menu-toggle">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </div>
                                <nav class="rs-menu">
                                    <ul class="nav-menu">
                                        <!-- Home -->
                                        <li class="current-menu-item current_page_item"> <a href="/">Home</a></li>
                                        <!-- End Home -->
                                        <AuthorizeView>
                                            <Authorized>
                                                <li class="current-menu-item current_page_item"><a href="/">Hello, @context.User.Identity.Name!</a></li>
                                                <li class="current-menu-item current_page_item"><a @onclick="Logout" href="javascript:void(0)">Logout</a></li>
                                            </Authorized>
                                            <NotAuthorized>
                                                <li class="current-menu-item current_page_item"><a href="/login">Login</a></li>
                                                <li class="current-menu-item current_page_item"><a href="/">Hello, Guest!</a></li>
                                            </NotAuthorized>
                                        </AuthorizeView>

                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->
</div>
<!--Full width header End-->
@code {
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}