    <!--Full width header Start-->
<div id="rs-head" class="full-width-header">
    <!--Header Start-->
    <header id="rs-header" class="rs-header transparent-header">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <label style="font-size: 24px">Cyberbian</label>
@*                        <div class="logo-area">
                            <a class="logo" href="index.html">
                                <img height="100" src="assets/images/logo-cyberbian.png" alt="logo">

                        
                        </a>
                        </div>*@
                    </div>
                    <div class="col-lg-10 text-right">
                        <div class="rs-menu-area">
                            <div class="main-menu">
                                <div class="mobile-menu">
                                    <a class="rs-menu-toggle">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </div>
                                <nav class="rs-menu">
                                    <ul class="nav-menu">
                                        <!-- Home -->
                                        <li class="current-menu-item current_page_item"> <a href="FamousBot">Play "Guess the Famous Bot"</a></li>
                                        <li class="current-menu-item current_page_item"> <a href="Register">Register</a></li>
                                        <!-- End Home -->

                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->
</div>
<!--Full width header End-->
