@page "/register"

<PageTitle>Register</PageTitle>
<NavMenuPage />
<div class="rs-features bg1 pt-126 md-pt-71 md-pb-75">
    <div class="container relative">
        <h3>Register</h3>

        <EditForm Model="user" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator/>
            <div class="mb-3">
                <label for="email">Email</label>
                <InputText id="email" @bind-Value="user.Email" class="form-control" />
                <ValidationMessage For="@(() => user.Email)" />
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <InputText id="password" @bind-Value="user.Password" class="form-control" type="password" />
                <ValidationMessage For="@(() => user.Password)" />
            </div>
            <div class="mb-3">
                <label for="confirmPassword">Confirm Password</label>
                <InputText id="confirmPaswword" @bind-Value="user.ConfirmPassword" class="form-control" type="password" />
                <ValidationMessage For="@(() => user.ConfirmPassword)" />

            </div>
            <button type="submit" class="btn btn-primary">Register</button>
           
        </EditForm>
    </div>
</div>

@code {
    UserRegister user = new UserRegister();
    void HandleRegistration()
    {
        Console.WriteLine($"Register User with the Email {user.Email}");
    }
}
